<!DOCTYPE html>
<html>

<head>
	<title>Midterm Review</title>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
  	<script src="javascripts/app.js"></script>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
</head>

<body ng-app="voting" ng-controller="MainCtrl">
	<h1>Administrative Interface<h1>
	<form ng-submit="addCandidate()">
		<input type="text" placeholder="Enter New Candidate" ng-model="formContent">
		<input type="submit" value="Submit">
	</form>
	<h1>Current Candidates</h1>
	<div ng-repeat="candidate in candidates | orderBy:['-votes','Name']">
	<span class="glyphicon glyphicon-remove" ng-click="delete(candidate)"></span>
	{{candidate.name}} - votes {{candidate.votes}}
	</div>
</body>
</html>
